{% extends 'news/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load cache %} <!-- Загружаем кэширование -->
{% load static %}

{% cache 60 post_list %} <!-- Кэшируем отдельный блок на 60 секунд  -->

    {% block title %}
        Posts
    {% endblock title %}

    {% block content %}

        {% if post_list %}
            {% for post in post_list %}

                <div class="tab-pane active show" id="tab-1">
{#                    <div class="row gy-4">#}
{#                        <div class="col-lg-8 details order-2 order-lg-1">#}
                            <h5><a href="/news/{{ post.id }}"> {{ post.title|censor }} </a></h5>
                            <p class="fst-italic"><a href="/profile/{{ post.author.user.id }}"><small>{{ post.author }}
                                : </small></a></p>
                            <p>{{ post.content|truncatewords:20|censor }}</p>
{#                        </div>#}
{#                    </div>#}
                </div>

            {% endfor %}
            <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="{% static 'img/departments-1.jpg' %}" alt="" class="img-thumbnail">
            </div>


            {#            <section id="testimonials" class="testimonials">#}
            {#                <div class="container">#}
            {##}
            {#                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="1000">#}
            {#                        <div class="swiper-wrapper">#}
            {#                        #}
            {#                            {% for post in post_list %}#}
            {#                                #}
            {#                                <div class="swiper-slide">#}
            {#                                    <div class="testimonial-wrap">#}
            {#                                        <div class="testimonial-item">#}
            {#                                            <img src="#"#}
            {#                                                 class="testimonial-img" alt="">#}
            {#                                            <h3><a href="/news/{{ post.id }}"> {{ post.title|censor }} </a></h3>#}
            {#                                            <h4><a href="/profile/{{ post.author.user.id }}"><small>{{ post.author }} : </small></a></h4>#}
            {#                                            <p>{{ post.content|truncatewords:20|censor }}</p>#}
            {#                                        </div>#}
            {#                                    </div>#}
            {#                                </div><!-- End testimonial item -->#}
            {##}
            {#                            {% endfor %}#}
            {#                        #}
            {#                        </div>#}
            {#                        <div class="swiper-pagination"></div>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#            </section><!-- End Testimonials Section -->#}
        {% else %}
            <h2>Публикаций нет!</h2>
        {% endif %}

    {% endblock content %}
{% endcache %}