{% extends 'news/default.html' %}

{% load custom_filters %}

{% load cache %} <!-- Загружаем кэширование -->

{% block title %}
    Post
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="text-start mt-5">

            {% cache 1 content_post %} <!-- Кэшируем отдельный блок на 300 секунд (5 мин) -->

                <div>
                    <small>
                        <a class="button" href="/profile/{{ post.author.user.id }}">{{ post.author }}</a>
                        : {{ post.date_time|date:'d.M.Y' }}
                        :
                        {% for category in post.categories.all %}
                            <a class="button" href="/news/?categories={{ category.id }}">{{ category }}</a>
                        {% endfor %}
                    </small>
                </div>

                <h3>{{ post.title|censor }}</h3>
                <div class="legend">
                    <img src="{{ post.image.url }}" class="img-fluid" alt="">
                </div>
                <p>{{ post.content|censor|safe }}</p>

                {% if is_authors %}
                    <a class="btn btn-light" href="{{ post.id }}/edit/">Изменить</a>
                    <a class="btn btn-light" href="{{ post.id }}/delete/">Удалить</a>
                {% endif %}
                <a class="btn btn-light" href="{{ request.META.HTTP_REFERER }}">Назад</a>
            {% endcache %}
        </div>
    </div>

{% endblock content %}
